@model IEnumerable<ETSUBucHunt.WebApp.Models.Tasks>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.answer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<ul>
    <li>Location: The Carillon Question:How many total bells are in the ETSU Foundation Bell Tower named "The Carillon"? Answer: 26 </li>
    <li>Location: Nicks Hall Question:University Health Services is on what floor of Roy Nicks Hall? Answer: First floor</li>
    <li>Location: Carter Hall Question:Whose statue is commemorated in front of Mayetta W. Carter Residence Hall? Answer: George L. Carter</li>
    <li>Location: Student Center Question:On what floor of the D.P. Culp Student Center is the Mary. V. Jordan Multicultural Center? Answer: Second floor</li>
    <li>Location: Lyle House Question:What department of ETSU is housed in the Lyle House? Answer: Department of Social Work </li>
    <li>Location: Power Plant Question:What is written on the chimney stack of the ETSU Power Plant? Answer: ETSC</li>
    <li>Location: Gymnasium Question:How many steps lead up to the J. Madison Brooks Gymnasium (Memorial Hall)? Answer: 11</li>
    <li>Location: Millennium Center Question:How many computing auditoriums are inside the ETSU Millennium Center? Answer: 2</li>
    <li>Location: Martin Center Question:What are the first names of the two ETSU alumni that the Martin Center for the Arts is named after? Answer: James, Mary</li>
    <li>Location: Library Question:How many floors are in the Charles C. Sherrod Library? Answer: 4</li>
</ul>
